
body {
    background-color: #949a9fea;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    margin: 0;
}
.titre{
    display: flex;
    justify-content: center;
}
.container{
    border: 2px solid rgba(0, 34, 255, 0.436);
    border-radius: 10px;
    background-color: rgba(0, 179, 255, 0.495);
}
.pais{
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00acc1;
    font-weight: 700;
    margin-bottom: 10px;
}
.contenedor{
    border: 2px solid rgba(68, 174, 231, 0.454);
    width: 120px;
    border-radius: 10px;
    background-color: rgba(74, 174, 246, 0.265);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    
}
h3{
    margin-bottom: 0px;
    font-family: monospace;
    color: #1dd0d0;
    font-weight: 700px;
    font-size: 18px;
}
.display{
    display: flex;
    justify-content: space-around;
}
#ville {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 2px solid #00acc1;
    border-radius: 5px;
    margin: 10px;
}

#chercher {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #00acc1;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#chercher:hover {
    background-color: #00838f;
}


#resultat {
    margin-top: 20px;
    padding: 20px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
}

#resultat h2 {
    margin-bottom: 10px;
}

#resultat p {
    margin: 5px 0;
    font-size: 16px;
}

#resultat img {
    margin-top: 10px;
    width: 60px;
    height: 60px;
}
